<div id="home_container" class = "wrapper">
  <div id="home_header" class="header">
    <div id="date">
      <script>
        document.getElementById("date").innerHTML = Date();
      </script>
    </div>
    <%= image_tag("cubes.jpg")%>
    <h1>Balaram Parajuli</h1>
  </div>
  <div id="top_left">
    <div class="header section_header">
      <%= link_to 'Recent Posts', Post %>
    </div>
    <% @posts.last(3).each do |post| %>
      <div id="indivisual">
        <div id="title">
          <h1><%= link_to post.title, post %></h1>
        </div>
        <div id="body">
          <p><%= post.body.first(200) %>...<%= link_to "read more", post %></p>
          <span title=<%= post.updated_at.localtime.asctime.split.join('-') %>>
           Last Updated: <%= distance_of_time_in_words_to_now(post.updated_at) %> ago
          </span>
        </div>
      </div>
    <%end%>
  </div>
  <div id="top_right">
    <div class="header section_header">
      Slide Show
    </div>
    <div id="home_slide_show">

    </div>
  </div>
</div>
