<div id="post_index_wrapper" class="wrapper">
  <h1>Posts</h1>
        <% @posts.each do |post| %>
  <div id="indivisual">
    <div id="title">
      <h1><%= link_to post.title, post %></h1>
    </div>
    <div id="body">
      <p><%= post.body.first(200) %>...<%= link_to "read more", post %></p>
    </div>
    <div id="admin">
      <div class="admin-uses"><%= link_to 'Edit', edit_post_path(post) %></div>
      <div class="admin-uses"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
  </div>
          <% end %>
</div>
